@using SpeakingRosesTest.Components.Shared;
@inject StateContainer StateContainer;
@inject IJSRuntime IJSRuntime;

<nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
        <div class="sidenav-toggler sidenav-toggler-inner mx-4" @onclick="ShowOrHideSideNav">
            <a href="javascript:;" class="nav-link text-body p-0">
                <div class="sidenav-toggler-inner">
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                    <i class="sidenav-toggler-line"></i>
                </div>
            </a>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="Dashboard">Panel de control</a></li>
                <li class="breadcrumb-item text-sm text-dark active" aria-current="page">@Pagina</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">@Pagina</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            </div>
            <ul class="navbar-nav  justify-content-end">
                <li class="nav-item dropdown pe-2">
                    <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" id="notificationDropDown" aria-labelledby="dropdownMenuButton">
                    </ul>
                </li>
                <li class="nav-item px-3">
                    <a href="javascript:;" class="nav-link text-body p-0">
                        <i class="fas fa-gear fa-xl fixed-plugin-button-nav cursor-pointer" id="fixedRightNavbarButton"></i>
                    </a>
                </li>
                <li class="nav-item dropdown pe-2">
                    <ul class="dropdown-menu dropdown-menu-end p-2 me-sm-n4" id="notificationDropDown" aria-labelledby="dropdownMenuButton">
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code{
    [Parameter]
    public string Pagina { get; set; }

    private async Task ShowOrHideSideNav()
    {
        StateContainer.ShowOrHideSideNav = !StateContainer.ShowOrHideSideNav;

        string BoolAsString = "true";

        if (StateContainer.ShowOrHideSideNav)
        {
            BoolAsString = "true";
        }
        else
        {
            BoolAsString = "false";
        }

        await IJSRuntime.InvokeVoidAsync("JsFunctions.ShowOrHideSideNav", BoolAsString);
    }
}